.client-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.client-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.client-list h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.client-list strong{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #333; 
}

.client-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.client-list article a:hover{
    background: #da552f;
    color: #fff;
}