.Quadrado{
    width: auto;
    height: 100px;
    background: #f54;
    border-radius: 30px;
}

.my-hr{
    margin: 60px 10px 8px 10px; 
    border: solid 1px #fff;
}

.my-h1{
    margin: 15px 0 0 10px;
    font-weight:400;
    color:#fff;
    cursor:default;
}

.my-a{
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

.my-a:hover{
    transition-duration: 300ms;
    color: #A9A9A9;
}

.container{
    padding-left: 1em;
    padding-right: 0;
    margin-top: 60px;
}

.conteudo {
    overflow: initial;
    margin-right: 1em;;
}

.ant-row {
    margin-bottom: 1em;
}

.contentSider {
    margin-top: 60px;
    width: 100%;
}